<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<runtime> 
        <ThrowUnobservedTaskExceptions enabled="false"/> 
    </runtime> 
	<system.serviceModel>
		<protocolMapping>
   <remove scheme="http"/>
   <add scheme="http" binding="ws2007HttpBinding" bindingConfiguration="BubblegumEndpoint"/>
  </protocolMapping>
  <behaviors>
   <endpointBehaviors>
    <behavior name="JakeEndpointBehavior">
     <dataContractSerializer ignoreExtensionDataObject="true"/>
     <clientCredentials>
      <serviceCertificate>
       <authentication certificateValidationMode="PeerOrChainTrust"/>
      </serviceCertificate>
     </clientCredentials>
    </behavior>
   </endpointBehaviors>
  </behaviors>
  <bindings>
   <ws2007HttpBinding>
    <binding name="BubblegumEndpoint" messageEncoding="Mtom">
     <reliableSession enabled="true"/>
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None"/>
      <message clientCredentialType="UserName"/>
     </security>
    </binding>
   </ws2007HttpBinding>
  </bindings>
		<client>
   <endpoint address="https://bubblegum.servermonitor.online/CandyKingdom/Server.svc" binding="ws2007HttpBinding" bindingConfiguration="BubblegumEndpoint" contract="Bubblegum.IServer" name="BubblegumEndpoint"/>
  </client>
	</system.serviceModel>
</configuration>
