<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.8.0, Culture=neutral" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.8.0, Culture=neutral" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.8.0, Culture=neutral" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
		<identity impersonate="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YD/snfuYwu5J7eGXRzY3b3X+kDvecviyycGxHFBsRTbge40/jP279ZpJT2ix0UGz0Pd0wkbuNU9h4UPg0/5MbQKY/SYb8W5kqxFK/2CUTACLIU631rnMtaA1nHKbJaBubinIEzJTbDXBYsNTXnUfLTwXtm6UyVU+N6cotzNtn7vScGHc+syfs+dbQiNRFN/PCDrs67HeiN+/hGRTV90Tyd8dRn6NKrlnjouZn4iRNKw4Rc2iGP6GNXhZ0rpLbB09P61C6g0U6cdFAAad7TFRMJxze/iLNRf9sY0u92Uw43zloPJhcmz0JN9VcNxK5I48uhZCMuzhPSqMYvmt67m42w==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ctdud/b8jLMCuompOQX8ioiUUMzU0x25VczN6sHmTLkDqxnnvmrWvT9rvMIuuCAbbLBKDYUIXv70KwfVXMr0WS9K/x5KwGCZKCLRQqBoD5XFmlrwO1BiheXvfq75NsIrB7K5tM422Uvb5uGDcoBYZsvKNJsMGiCeb/+YVC9+KorA6MlC6Hsr4ZkB97vTu1Q9E8S3bJe1QXyVfSeAo+ObfdMfRRixt7JAMKrerVRbsRZSMha7Nuw2BjRqi0l0RPsV3H95DX94Soq6D5rXGz1ngWes3WO+VtYchNGInt20VxtIQQUkuiEy3wZq14vEpzruXD19prCvgnX3oYXkwjJfDt0D8hAgXE8UDVWrCEjOhQKGwEGnxe03lmicGVSL8bzVD+OJhwqi4zWL6zLbgz14vs73pBUmP6EPM/lisQAXpK1GFYtjhR2/TPdSdGrIVGzSR/iouRR4YNGJWj+97E5bGRcs6W3RWIzDzKWLn/NG3sHYAAsTYLO9nNbBUEZJk0Yl9PmPF17f/8MZMhMRoyD1X8bh5MPMv5w7MVWOVXNQRXBDWZ+/KI5i+i4wa7pK7DVk6jU9iW2IjEHrLn3B7FDtwqepM2SsIRFNk+rs5YZEAlEwwWofdVHcLXdsbpCBIu5i1Sded7gHs+YRYi26bncslUg6WtqiTh7IRqfuTFfag5zQhLfobol9gcQVYt/RSV2Mmzs7ua/cAIpmSdTy3aQ9zwWgWoPHaFXd+XyIF+LSJ9ZsvCZ99s4FWX9ZOIZnchx+pc1KoJbOoZKNQNXoQ0LhrXUmbo8J0lrYAa1SK5+jIARX1VSEplsCCkln3BfNBvkRw9KwYhvvc1e597MRffRBkw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6 , Version=6.9.8.0, Culture=neutral" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<system.serviceModel>
		<protocolMapping>
   <remove scheme="http" />
   <add scheme="http" binding="basicHttpBinding" bindingConfiguration="BubblegumBasicBinding" />
  </protocolMapping>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/CandyKingdom/Server.svc" service="Bubblegum.Service.Code.Server" />
			</serviceActivations>
		</serviceHostingEnvironment>
		<behaviors>
   <endpointBehaviors>
    <behavior name="BubblegumEndpointBehavior">
     <dataContractSerializer ignoreExtensionDataObject="true" />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="BubblegumBehavior">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceCredentials>
      <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" />
      <userNameAuthentication cacheLogonTokens="true" />
     </serviceCredentials>
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
	<services>
  <service behaviorConfiguration="BubblegumBehavior" name="Bubblegum.Service.Code.Server">
   <endpoint address="" behaviorConfiguration="BubblegumEndpointBehavior"
    binding="ws2007HttpBinding" bindingConfiguration="BubblegumWSBinding"
    name="BubblegumEndpoint" bindingNamespace="http://bubblegum.laberko.net"
    contract="Bubblegum.Service.Code.IServer" />
   <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="BubblegumMexBinding"
    name="BubblegumMexEndpoint" contract="Bubblegum.Service.Code.IServer"
    kind="mexEndpoint" endpointConfiguration="" />
  </service>
 </services>
		<bindings>
   <basicHttpBinding>
    <binding name="BubblegumBasicBinding" maxBufferSize="2147483647"
     maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
     <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
      maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="Certificate" />
     </security>
    </binding>
   </basicHttpBinding>
   <ws2007HttpBinding>
    <binding name="BubblegumWSBinding" transactionFlow="true" messageEncoding="Mtom">
     <reliableSession enabled="true" />
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="Certificate" />
      <message clientCredentialType="UserName" />
     </security>
    </binding>
   </ws2007HttpBinding>
   <mexHttpBinding>
    <binding name="BubblegumMexBinding" />
   </mexHttpBinding>
  </bindings>
	</system.serviceModel>
</configuration>
