<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>GWpgUXYm7gKTjJWFnLTFjYDTuZDjoKqnddfeTTXhBx8ihVhooPmg7n+5C5Fq6QVQMK8W63igPu40sNI0D4ATGcozjlO6HXer1p2qYEDCxwWHvt1Ce73c+u+I1O6wOSNJEMWKv2y89cPySKmzt7vExJdzb/hp6NKiz1yj74w+DF6wOQiTDvpdWfPEzcJRlTKIkGnI+N6IK3bXsiR6F5nis/gdjrenKT71k3iFMs6ONytJ4+ZrUdUiSNp9fd6Ci5My5QwBTWKS3Qgv/AEaaVlkxQjYZjuoMrZ/zj/+QzNoMQZht8k1iBdwNdQTQlkEr64BXd/e8vC9Op/kj5BzRM1lYg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>BZFAevCVsS9nvc59EgGPf6XMpkU56swbehRtBrK4QWTDYQorZirQr3E17d3/nM1e5+xHSQ4IUsKaFxFKFPyHJ99/oqJApA97+TxIoRnUkqLeXW6Dhmq7q6b3aoax8XX7P94c9s/ax8PnhIB9edIsPYcLnR75zwAY1GVe9T2v4I/C9A78RDBEXmSFz4kz7fDLnX5LjNMnKIpRexOH8vSDBfrqUuWX8/9dPV4ichTddndHJsdRpyBH8IT3Hrf+CWNASzaKwIGxJoWZ1hYjve5dQZV+3tctlxhy9xDkX1J9JpKZTMqF8ZhcYz2w7uSfWvfdnleD3J7xulIqZJkVi1JRMTLyBxy00bMwhFZK7HOuZ+x06EAI2L0r5vojR6V1kazGBOMk8Oz62o5ibhWv3V0sLxfKT/PwbPJobc3yYLnUYHZQV9TLwCmnQPi/r7USASyd8rcgVcpzYVSuL0/VNLa1fYkke2kNWSq8Nbv0p5+I+hvFS/iZjLSDYRNJML6T0s6ysRQsYhHG75Q5ICyRfcnHYjSfcLzH2zwPO5quF19A2IzPOgvbn2vcetjHxwhF5/LXYI3ww+upxf+HTeCG4zPLtI1Hj7Sc3thCVcYldTSbrZeLdhWYh6xP6L2d910w3O9i+jYfHq6/zjWU/thcxv0497hRZhGmfIYeZG3Y4/lUu7k32gHVfUFETFGYxDqzkZhbjj/jEUxSkODb+PG/PkqTD3E2NyTB56werFuL2PyrXk+YpL9JHHxJi1ClVjJj2gPCSEFnsu8v134WxyCkihr5a6OdFevZcPqQpeo9mnOsQ+/cIq/bajdH3++t8VO/91wxRcol44/2fuRTv2XFn9wPvFYJSWty2U326ylOMxTQCVTTLJOqpsWvJUm7COyhZWIl8lZyefriRK4yY9QSEkSpB+k+8JD3kF2xYuJ+cBFNpx3L59asQMQ6rg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.8.0, Culture=neutral" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="MySqlSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="MySqlSiteMapProvider" type="MySql.Web.SiteMap.MySqlSiteMapProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </siteMap>
    <webParts>
      <personalization defaultProvider="MySQLPersonalizationProvider">
        <providers>
          <remove name="MySQLPersonalizationProvider" />
          <add name="MySQLPersonalizationProvider" type="MySql.Web.Personalization.MySqlPersonalizationProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
        </providers>
      </personalization>
    </webParts>
    <sessionState cookieless="false" regenerateExpiredSessionId="true" />
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>A59xeM2uigOTR2WHs3YZ0WVhJ/gmfxmTNTMY8KEUgSPOoibgQNTDZTePmjQDTO7O7fXULY7ajioBcrIai3vUyXgho9rPEoEp/UQgi62jof6IxYQqXuGwU0M5amrTxYa+cOlOfIHrERDDGDXV+t+Ev4O+Ynq11iXWA/yphJuLX89kkSYAHB5mmjHR2KmhH4maXjUuTXU3L9KOZ329FeEhx04hrhLyVcuPAV1fyCNiReFvIjUudWmpKK2cEtPzRl6fVS0ep3Nm+ZusMrI711+LzGc9i9xYNxBnC+IMPHIpo9uzhToT2yiiPrqIKXORx+MsShftAJekWW0RWW0sPr0OfQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ehTxHfsjV/B5oWEwsvav3IDH3TcL+kbsNlo4bcvY0oYkA/Zt4Cvjo0TOOgFo9LOtttI73oSFKOKfoztnj9K2EhRkET4+3AsV71+11C0aS7mydUAhtb2gGCedwQ4buXucODiaADLNUYqQVJKDu4nwjyQ4BJfNcZ4ayzNxLlU4YZy3WLxlxHcbOg6SpzRJRXEAdUSH/Nu37ay3yALqB62REKdbQYCJVjfnSKye8GMtw/UM09lbtb2ijH5ZM8uieW8XxQI/v0yorB4aQeAu6WeIOB5BHeMm13DlgFWYWiUns2HUb51riBpVMlflSMpvEW1l5Cw9+SbjGgXMdudLNpaGP1YJMiTb34Hgm3FAmfcndUWq+reTaRMHFci9PGLj7Fe4t7bJpeMBbmgT1AM8GSEgsKS1erurZb6y9lZki+RU5N4Npc9mdYo7iNsRm9wDsHogxFztJULX1sTv6EtZsigE8b0IEHfASZXwBIoMHHy7FoVG7vkHvoXXy4POIxeDUMNSvUO/9Uxk99X3D4opDPpObhM8HGKS2r0Tg04OjQBImq7Rh68ljRaB80TTeCcUJahmYOhfs96nRW5pfHWmclsb97h9NpgP/x8y9GhNJ8odKTrm4/kp7SBbHXQFQJg6YGs9vDsLBvhZB4S3uIrTIBb4AFBm7uYxN/QbwJVC7az5B//ZaC+OvH0/FWRzgq5rKtF11fsPKUrTih8a+u/7SCZY5c5r9PvFtEocMgsBH/GlrsKCCukKkhCGpKW6Amqj9IxHhzYUB9GhTg0GVbH251eGIWV4XAN1z9GXButOQsYIUKy8VYr/O9jqz86aHIrL7Qal</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>