@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Произошла ошибка</h1>
@{
	if (string.IsNullOrEmpty(ViewBag.errorMessage))
	{
		<h2 class="text-danger">При обработке Вашего запроса произошла ошибка.</h2>
	}
	else
	{
		<h2 class="text-danger">@ViewBag.errorMessage</h2>
	}
}
