@{
    ViewBag.Title = "Server Monitor";
}

<div class="jumbotron">
    <h2>Server Monitor</h2>
	<p class="lead">Server Monitor - система безопасного удаленного мониторинга Windows-серверов и рабочих станций.
		<br/>В данный момент проект находится на начальной стадии разработки.
		<br/>Server Monitor прост в установке и настройке, а также безопасен: удаленный доступ к серверу исключен.
	</p>
</div>

<div class="row">
    <div class="col-md-4">
	    <h2>Мониторинг</h2>
        <p>
	        - состояние служб и процессов<br/>
	        - загрузка памяти и процессора<br/>
	        - статистика по ошибкам в журналах<br/>
			- свободное пространство на дисках
        </p>
        <p><a class="btn btn-primary btn-lg" href="/Servers">Посмотреть &raquo;</a></p>
    </div>
	<div class="col-md-4">
		<h2>Попробовать</h2>
		<p>
			Для того, чтобы начать использовать Server Monitor:<br/>
			- зарегистрируйтесь<br />
			- скачайте и установите агент<br />
			- настройте параметры мониторинга с помощью конфигуратора
		</p>
		<p><a class="btn btn-primary btn-lg" href="/Home/Download">Загрузить &raquo;</a></p>
	</div>
    <div class="col-md-4">
		<h2>Открытый код</h2>
	    <p>
		    Server Monitor абсолютно бесплатен.<br />
		    Весь исходный код доступен на GitHub. Там же - подробная информация.
	    </p>
		<p><a class="btn btn-primary btn-lg" href="https://github.com/laberko/ServerMonitor" target="_blank">GitHub &raquo;</a></p>
    </div>
</div>